.container{
    margin-top: 1%;
}

header .menu{
    display: flex;
    position: relative;
}

header{
    border-bottom: 1px dashed black;
    padding-bottom: 15px;
}
header .menu h2{
    font-size: 2.5em;
}

header .menu ul li{
    display: inline;
}

header .menu .options{
    position: absolute;
    margin-left: 60%;
}

header .menu ul li button{
    text-transform: uppercase;
    padding: 10px;
    margin-left: 10px;
    background-color: transparent;
    width: 120px;
    height: 50px;
    border: .5px solid rgb(81, 77, 116);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 1.999px;
    transition: .3s;
}

.container ul li button:hover{
    background-color: rgba(255,255,255,0.21);
    transition: .3s;
    border: .5px solid rgba(81,77,116,0.4)
}

.container ul li button:active{
    outline: none;
}

