@import('ubuntu-fonts.css');
.container{
    margin-top: 1%;
    background-color: rgba(51,51,51,0.1);
    border-radius: 5px;
    padding: 5px;
}

header .menu{
    display: flex;
    position: relative;
}
.header{
    width: 100%;
    z-index: 122;
    background-color: red;
}

header{
    position: fixed;
    padding-top: 15px;
    padding: 10px;
    width: 100%;
    background-color: rgba(189, 180, 180);
    border-bottom: 1.5px solid rgba(51,51,51,0.7);
    z-index: 777;
}
header .menu h2{
    font-size: 2.5em;
    color: rgba(51,51,51,0.7);
}

header .menu ul li{
    display: inline;
}

header .menu .options{
    position: absolute;
    margin-left: 55%;
}

header .menu ul li button{
    text-transform: uppercase;
    padding: 10px;
    margin-left: 10px;
    background-color: transparent;
    width: 120px;
    height: 50px;
    border: .5px solid rgb(81, 77, 116);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 1.999px;
    transition: .3s;
}

header .menu ul li button:hover{
    color: white;
    transition: .3s;
    background-color: rgba(51,51,51,0.1);
}

.container ul li button:active{
    outline: none;
}

section{
    margin-top: 10%;
    padding-bottom: 25px;
    border-bottom: 5px solid rgb(128, 128, 128,0.2);
}

section img{
    width: 100%;
    padding-bottom: 25px;
}

section .img-thumbnail{
    text-align: center;
    display: block;
}

section .stars li{
    margin-top: 10px;    
}

section small{
    font-family: 'Andale Mono', monospace;
    font-weight: 500;
    font-size: 0.7em;
}

section small p{
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 5px;
}

section span{
    font-family: Ubuntu;
}

section button{
    margin-top: 10px;
}

.about-profile p{
    padding-top: 10%;
}

footer{
    padding-top: 35px;
}

footer .description{
    background-color: rgb(37, 31, 31);
    color: #FFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 25px;
    width: 100%;
    text-align: center;
}

footer .about{
    background-color: rgb(37, 31, 31,0.958);
    padding-top: 25px;
    color: #FFF;
    text-align: center;
}

footer .about p{
    font-size: 1.72em;
}

footer .about ul{
    margin-top: 20px;
    margin-left: -5%;
}

footer .about ul li{
    display: inline;
    font-size: 1.98em;
    padding-left: 20px;
    color:#FFF;
}