@import url("kids.css");
@import url("women.css");
@import url("men.css");
@import url("contact.css");
@import url("promotions.css");

/*format multi fonts in web browsers*/
@font-face{
    font-family: "beauty";
    font-style: "normal";
    font-weight: 800;
    src: url("../fonts/Beauty.otf") format("opentype");
}

@font-face{
    font-family: "beautyFont";
    font-style: "bolder";
    font-weight: 900;
    src: url("../fonts/Beauty.ttf") format("opentype");
}
@font-face{
    src: url("../fonts/DropGame.ttf") format("opentype");
    font-family: "DropGame";
    font-style: "normal";
}

@font-face{
    src: url("../fonts/Unicorn.ttf") format("opentype");
    font-family: "Unicorn";
    font-style: "normal";
    font-weight: 800;
}

@font-face{
    src: url("../fonts/Ubuntu.ttf") format("opentype");
    font-family: "Ubuntu";
    font-style: "normal";
    font-weight: 700;
}

header{
    background-color: #333333;
    color: #F9F9F9;
    padding: 2rem 0;
    position: fixed;
    height: 12vh;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999999;
}

header a{
    color: rgba(249,249,249);
    font-family: "DropGame";
    transition: .3s;
}

header a:hover{
    color: rgb(202,202,202)
}
.logo a{
    font-size: 2.4em;
    font-family: "DropGame";
    text-decoration: none;
    cursor: pointer;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* hide nav for pc display */
.mobile-only{
    display: none
}

#menu{
    display: none;
}

label{
    display: none;
}
/* end mobile */

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    display: inline;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
    text-decoration: none !important;
}

nav ul li a:hover{
    background: #CACACA;
    color: rgba(51,51,51);
}

.active{
    text-decoration: none !important;
    border-radius: 5px;
    padding: 0.4rem 1rem;
    font-family: "DropGame";
    background: #CACACA;
    color: rgba(51,51,51);
}
.sections{
    background-color: rgba(202,202,202,0.4);
    margin-top: 5%;
}

.banner{
    width: 100%;
    height: 100vh;    
}

.banner .caption h2{
    font-size: 9em;
    font-family: "beauty";
    color: rgb(249,249,249);
    position: relative;
    margin-top: 10%;
    margin-left: 10%;
}

.banner .span p{
    font-size: 1.8em;
    font-family: "beautyFont";
    color: rgb(249,249,249);
    position: relative;
    margin-left: 10%;
}

.imagen{
     width: 100%;
     height: 90vh;
     position: absolute;
}

.sections section .instant-image{
    display: block;
    max-width: 100%;
    height: auto;
    padding-right: 32px;
    padding-top: 25px;
    padding-left: 32px;
    padding-bottom: 40px;
    background-color: rgba(202,202,202,0.7);
    border-radius: 3px;
}
/*container sections images*/
.instant-images{
    width: 100%;
    height: auto;
    position: relative;
}

.instant-images::before{
    height: 80vh;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    content: "";
}

.instant-image img{
    padding-bottom: 15px;
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 3px;
}

.instant-image span{
    font-family: "DropGame";
}

.instant-image .sponsers img{
    margin-left: 0px;
    display: inline;
    width: 60px;
    height: 60px;
    padding: 5px;    
}

.instant-image button{
    margin-left: 4.5%;
    background-color:  transparent;
    border: 1.777px solid #F9F9F9;
    padding: 10px;
    width: 80%;
    border-radius: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    color: #333333;
    transition: .553s;
}

.instant-image button:hover{
    color: rgba(249,249,249);
    background-color: rgba(51,51,51,.234);
    transition: .553s;
}

.forms-container{
    padding-top: 45px;
    text-align: center;
}

.forms-container hr{
    width: 85%;
    height: 5px;
    border-radius: 2px;
    background-color: #333333;
}

.snow-icon{
    font-size: 5em;
    text-align: center;
    margin-top: -5rem;
    margin-left: -4rem;
}

footer{
    padding: 4rem 0;
    margin-top: 6rem;
    height: 80vh;
}

footer .about-us{
    background-color: rgba(249,249,249,0.2);
    text-align: center;
}

footer .about-us h2{
    font-size: 3.14em;
    padding-bottom: 7rem;
    font-family: "DropGame";
}

footer .social-contacts{
    background-color: rgba(51,51,51,.3);
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
    color: rgba(249,249,249);
}

footer .social-contacts h4{
    font-family:  "Unicorn";
    font-size: 2.5em;
}

footer .social-contacts p{
    padding-top: 1rem;
    font-family: "Ubuntu";
    font-size: 1.7em;
}

footer .social-contacts p a{
    color: rgba(51,51,51);
    text-decoration: none;
    transition: .524s;
}

footer .social-contacts p a:hover{
    cursor: pointer;
    color: rgba(51,51,51,.6);
    transition: .524s;
}

footer .terms{
    background-color: rgba(51,51,51);
    padding-top: 2rem;
}

footer .terms .simple-line{
    margin-left: -1rem;
    width: 100%;
    margin-top: 3rem;
    height: 1px;
    background-color: #CACACA;
    border-radius: 2px;
}

footer .terms span{
    color: #CACACA;
    margin-left: 1.5rem;
    font-size: 1.8em;
    font-family: "Unicorn"
}

footer .terms ul li{
    font-size: 2.4em;
    padding-left: 10px;
    padding-top: 15px;
    color: rgba(202,202,202);
}

footer .terms ul li:hover{
    color: rgba(202,202,202,0.4);
    transition: .4s;
}


@media (max-width: 980px){
    .web-only{
        display: none
    }

    #menu{
        display: block;
    }

    label{
        display: block;
    }

    .mobile-only{
        display: block;
    }
    header{
        padding: 1rem;
        position: fixed;
        height: 10vh;
        font-size: .72em;
    }

    #menu{
        display: none;
    }
    .menu-bar ul li{
        display: none;
    }

    .logo a{
        padding: 0;
        margin-left: -10%;
    }
    header label{
        font-size: 2.7rem;
        margin-left: 60%;
        cursor:  pointer;
        transition: 0.4s;
    }

    header label:hover{
        color: rgba(202,202,202,0.4);
        transition: 0.4s;
    }

    .menu-bar{
        position: absolute;
        z-index: -1;
        top: 10vh;
        left: 0;
        width: 25%;
        height: 100vh;
        background: rgba(51,51,51,0.6);
        transition: all 0.5s;
        transform: translateX(-100%); 
    }

    .menu-bar ul li{
        display: block;
        height: 3rem;
        padding: 1.5rem;
        font-size: 1.4em;
    }

    #menu:checked ~ .menu-bar{
        transform: translateX(-0%);
    }

    .instant-image .sponsers img{
        display: inline;
        position: initial;
    }

    .instant-image{
        width: 73%;
        margin-left: 10%;
    }

    .instant-image button{
        margin-left: 12%;
    }

    .instant-image .sponsers img{
        margin-left: 40px;
        padding-bottom: 2rem;
    }
    .instant-images .instant-image{
        margin-top: 75px;
    }
}  /*end 980px*/

@media (max-width: 768px){
    .banner .caption h2{
        font-size: 5.5em;
    }
    
    .banner .span{
        font-size: 1.00117em;
    }

    .instant-image{
        width: 77%;
    }

    .instant-image img{
        display: block;
        max-width: 100%;
        height: auto;
    }

    section footer h4{
        font-size: 1.2em;
    }
    
    section footer p{
        font-size: 0.656455em;
    }

    .instant-image{
        width: 65%;
        margin-left: 18%;
    }

    .instant-image button{
        margin-left: 10%;
    }

    .instant-image .sponsers img{
        margin-left: 15px;
        padding-bottom: 2rem;
    }
    .instant-images .instant-image{
        margin-top: 75px;
    }
} /*end 768px*/

@media (max-width: 725px){
    .logo a{
        margin-left: 0%;
    }

    header label{
        margin-left: 35%;
    }

    .instant-image{
        width: 62%;
        margin-left: 18%;
    }

    .instant-image button{
        margin-left: 10%;
    }

    .instant-image .sponsers img{
        margin-left: 4px;
        padding-bottom: 2rem;
    }
    .instant-images .instant-image{
        margin-top: 75px;
    }

    section footer h4{
        font-size: 0.9em;
    }
    
    section footer p{
        font-size: 0.456455em;
    }
} /*end 725px*/

@media (max-width: 480px){
    .logo a{
        margin-left: 0%;
    }

    header label{
        margin-left: 25%;
    }

    .menu-bar{
        width: 45%;
    }

    .banner .caption h2{
        font-size: 3.5em;
        margin-top: 25%;
    }
    
    .banner .span{
        font-size: 0.87117em;
    }

    .instant-image{
        width: 75%;
        margin-left: 14%;
    }

    .instant-image button{
        margin-left: 10%;
    }

    .instant-image .sponsers img{
        margin-left: 0px;
        padding-bottom: 2rem;
    }
    .instant-images .instant-image{
        margin-top: 75px;
    }
} /*end 480px*/

@media (max-width: 384px){
    .banner .caption h2{
        font-size: 2.7em;
        margin-top: 35%;
    }

    .banner .span{
        font-size: 0.776em;
    }
    .instant-image{
        width: 75%;
        margin-left: 10%;
    }

    .instant-image button{
        margin-left: 10%;
    }

    .instant-image .sponsers img{
        margin-left: 0px;
        padding-bottom: 2rem;
    }
    .instant-images .instant-image{
        margin-top: 75px;
    }
} /*end 384px /nexus/ */
/*
    #333333 --> rgb(51,51,51)
    #F9F9F9 --> rgb(249,249,249)
    #CACACA --> rgb(202,202,202)
*/


